#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_OPTIONS

export OMPI_MCA_plm_rsh_agent=/bin/false

FF_SUBDIR=freefoam
DEB_DIR := $(dir $(word $(words $(MAKEFILE_LIST)),$(MAKEFILE_LIST)))
PKG_DIR := $(dir $(abspath $(DEB_DIR)))
BUILD_DIR := $(PKG_DIR)/obj-$(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
MULTIARCH_DIR := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export PYTHONPATH=$(BUILD_DIR)/data/python

# work around the fact that CMake ignores CPPFLAGS.
# see http://wiki.debian.org/Hardening#Notes_for_packages_using_CMake.
# compat=9 and dh(7) do this automagically on Debian sid, however Ubuntu still
# needs this manual hack.
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

# hardening flags, remove PIE flags - we'll add them later
include /usr/share/hardening-includes/hardening.make
CFLAGS+=$(filter-out $(HARDENING_DISABLE_PIE_CFLAGS_FILTER),$(HARDENING_CFLAGS))
CXXFLAGS+=$(filter-out $(HARDENING_DISABLE_PIE_CFLAGS_FILTER),$(HARDENING_CFLAGS))
LDFLAGS+=$(HARDENING_LDFLAGS)
DEB_EXE_COMPILE_FLAGS:=$(filter $(HARDENING_DISABLE_PIE_CFLAGS_FILTER),$(HARDENING_CFLAGS))
DEB_EXE_LINKER_FLAGS:=$(filter $(HARDENING_DISABLE_PIE_LDFLAGS_FILTER),$(HARDENING_LDFLAGS))


# Catch-all rule
%:
	dh $@ -B$(BUILD_DIR) --parallel --with=python2,python3,bash-completion


override_dh_auto_configure:
	mkdir -p $(BUILD_DIR)
	dpkg-parsechangelog |                                                       \
	  awk '/^Version:/{printf("set(FOAM_BUILD_NUMBER \"debian%s\")", gensub(/^([0-9]+\.)+[0-9]+/,"",1,$$2))}' > \
	  $(BUILD_DIR)/.build.cmake
	dh_auto_configure --                                                        \
	  -DCMAKE_BUILD_TYPE=Release                                                \
	  -DCMAKE_CXX_FLAGS_RELEASE="-DNDEBUG"                                      \
	  -DCMAKE_C_FLAGS_RELEASE="-DNDEBUG"                                        \
	  -DDEB_EXE_COMPILE_FLAGS="$(DEB_EXE_COMPILE_FLAGS)"                        \
	  -DDEB_EXE_LINKER_FLAGS="$(DEB_EXE_LINKER_FLAGS)"                          \
	                                                                            \
	  -DFOAM_BUILD_PRIVATE_METIS=OFF                                            \
	  -DFOAM_BUILD_PRIVATE_PARMETIS=OFF                                         \
	  -DFOAM_BUILD_PRIVATE_SCOTCH=OFF                                           \
	  -DFOAM_BUILD_PRIVATE_ZLIB=OFF                                             \
	                                                                            \
	  -DFOAM_ENABLE_PDF_GUIDES=ON                                               \
	  -DFOAM_ENABLE_XHTML_GUIDES=ON                                             \
	  -DFOAM_ENABLE_XHTML_HELP=OFF                                              \
	  -DFOAM_ENABLE_MATHJAX=ON                                                  \
	  -DFOAM_MATHJAX_USE_CDN=OFF                                                \
	  -DFOAM_MATHJAX_URL=/usr/share/javascript/mathjax                          \
	  -DFOAM_ENABLE_DOXYGEN_DOCS=ON                                             \
	  -DFOAM_ENABLE_MANPAGE_HELP=ON                                             \
	  -DFOAM_DOCS_FOR_SF=OFF                                                    \
	                                                                            \
	  -DFOAM_INSTALL_BIN_PATH=/usr/bin                                          \
	  -DFOAM_INSTALL_CMAKE_PATH=/usr/lib/$(MULTIARCH_DIR)/$(FF_SUBDIR)/CMake    \
	  -DFOAM_INSTALL_CONFIG_PATH=/etc/$(FF_SUBDIR)                              \
	  -DFOAM_INSTALL_DATA_PATH=/usr/share/$(FF_SUBDIR)                          \
	  -DFOAM_INSTALL_DOC_PATH=/usr/share/doc/$(FF_SUBDIR)                       \
	  -DFOAM_INSTALL_HEADER_PATH=/usr/include/$(FF_SUBDIR)                      \
	  -DFOAM_INSTALL_LIBEXEC_PATH=/usr/lib/$(FF_SUBDIR)/bin                     \
	  -DFOAM_INSTALL_LIBRARY_PATH=/usr/lib/$(MULTIARCH_DIR)/$(FF_SUBDIR)        \
	  -DFOAM_INSTALL_MAN_PATH=/usr/share/man                                    \
	  -DFOAM_INSTALL_PLUGIN_PATH=/usr/lib/$(MULTIARCH_DIR)/$(FF_SUBDIR)/plugins \
	  -DFOAM_INSTALL_TUTORIALS_PATH=/usr/share/doc/$(FF_SUBDIR)                 \
	  -DFOAM_INSTALL_PYTHON_PATH=/usr/lib/python                                \
	                                                                            \
	  -DFOAM_EXE_PREFIX=freefoam-                                               \
	  -DFOAM_ENABLE_METIS=OFF                                                   \
	  -DFOAM_ENABLE_MGRIDGEN=OFF                                                \
	  -DFOAM_USE_MPI=ON                                                         \
	  -DFOAM_DEFAULT_PSTREAM=mpi                                                \
	  -DFOAM_DOUBLE_PRECISION=ON                                                \
	  -DFOAM_ENABLE_PARMETIS=OFF                                                \
	  -DCMAKE_SKIP_RPATH=OFF                                                    \
	  -DFOAM_ENABLE_CCMIO=OFF                                                   \
	  -DBUILD_TESTING=OFF                                                       \
	  -DFOAM_ENABLE_FULL_TUTORIAL_TEST=OFF                                      \


override_dh_auto_install:
	dh_auto_install
	rm -f $(CURDIR)/debian/tmp/usr/share/$(FF_SUBDIR)/data/templates/foamScript
	rm -rf $(CURDIR)/debian/tmp/usr/share/doc/freefoam/tutorials/multiphase/interFoam/les/nozzleFlow2D/0/data
	rm -f $(CURDIR)/debian/tmp/usr/share/doc/freefoam/API/jquery.js


override_dh_python2:
	dh_python2 -p python-freefoam -p freefoam
	dh_python2 -p libfreefoam-dev /usr/share/freefoam/utilities


override_dh_python3:
	dh_python3 -p python3-freefoam


override_dh_strip:
	dh_strip -Nlibfreefoam -Nfreefoam
	dh_strip -plibfreefoam --dbg-package=libfreefoam-dbg
	dh_strip -pfreefoam --dbg-package=freefoam-dbg


# keep dh_installchangelogs from trying to install doc/changes/ as a file
override_dh_installchangelogs:
	dh_installchangelogs -Xdoc/changes
